# ignore file
Tarea_1/docs-raw-texts/
Tarea_1/queries-raw-texts/
Tarea_1/gensim/
Tarea_2/Datasets/
Tarea_3/Datasets/
Tarea_2/consolidated_20N.txt
Tarea_2/consolidated_BAC.txt
Tarea_2/Datasets.zip
Tarea_3/Datasets.zip
Tutorial-NLP_Analisis_de_Sentimientos.csv
Tarea_2/20N_santiagomartinez_camilocastaneda_testing.txt
Tarea_2/20N_santiagomartinez_camilocastaneda_training.txt
Tarea_2/BAC_santiagomartinez_camilocastaneda_testing.txt
Tarea_2/BAC_santiagomartinez_camilocastaneda_training.txt
Tarea_2/n_grams/
Proyecto/content/
Tarea_4/book_datasets/
Tarea4/Books_64_santiagomartinez_201533279_camilocastaneda_202314092.model
Tarea4/Books_128_santiagomartinez_201533279_camilocastaneda_202314092.model
Tarea4/Books_256_santiagomartinez_201533279_camilocastaneda_202314092.model


